target/*
bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
/local/config/tempo-data
.DS_Store
/cloud/.settings
/local/.settings
/cloud/logs
/local/logs
